*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

li, a{
    list-style: none;
    text-decoration: none;
}

body{
    background-color: #fff;
}

/* HEADING */

.heading{
    /* outline:1px solid red; */
    background-color: #1f2937;
    padding: 1rem 45px 8rem;
    /* display: flex; */
    max-height: 2000px;
    /* flex-direction: column;
    justify-content: center; 
    align-items: center;  */
    /* gap: 8rem; */
}


/* HEADER */
.heading .header{
    max-width: 1000px;
  /* outline: 1px solid red; */
    margin-top: 1rem;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 1rem auto 8rem;
}

.heading .header .main-logo{
    font-size: 24px;
    color: #F9FAF8;
   
    /* outline: 1px solid red; */
}

.heading .header .navigation{
    margin-left: auto;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}
.heading .header .navigation li a{
    font-size:18px;
    color: #E5E7EB;
}


/* HERO */

.heading .hero{
    max-width: 1000px;
    margin: auto;
    /* outline: 1px solid red; */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 3rem;
}

/* left */
.heading .hero .left-content{
    flex-basis: 400px;
    /* outline: 1px solid red; */
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.heading .hero .left-content h2{
    font-size: 42px;
    font-weight: bold;
    color: #F9FAF8;
}
.heading .hero .left-content p{
    font-size: 18px;
    color: #E5E7EB
}
.heading .hero .left-content a{
    align-self: flex-start;
    padding: 8px 1rem;
    background-color: #3882F6;
    border-radius: 8px;
    color: #F9FAF8;
    font-weight: 700;
}

/* right */
.heading .hero .right-content{
    flex-basis: 500px;
    margin-left: auto;
    background-color: gray;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 200px;
    /* outline: 1px solid red; */
}



/* Random info */
.random-info{
    max-height: max-content;
    /* border: 2px solid red; */
    padding: 2rem 0 8rem;
    display: flex;
    justify-content: center;
}
.random-info .container{
    max-width: 1000px;
    flex: 1;
    /* outline: 1px solid red; */
    padding: 0 4rem;
}

.random-info .container .content{
    /* outline: 1px solid red; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 3rem;
}

.random-info .container .content h2{
    /* border: 1px solid red; */
    font-size: 36px;
    font-weight: bold;
    color: #1F2937;
}

.random-info .container .content .boxes{
    width: 100%;
    /* border: 1px solid red; */
    display: flex;
    justify-content: center;
    gap: 4rem;
}
.random-info .container .content .boxes .part{
    flex: 1;
}
.random-info .container .content .boxes .part .box{
    border:3px solid #3882F6;
    aspect-ratio : 1 / 1;
    border-radius: 8px;
}
.random-info .container .content .boxes .part p{
    margin-top: 8px;
    text-align: center;
    color: #808080;
}


/* Testimonial section */

.testimonial-quote{
    max-height: max-content;
    padding: 8rem 0 4rem;
    display: flex;
    justify-content: center;
    /* border: 1px solid red; */
    background-color: #E5E7EB;
}
.testimonial-quote .container{
    max-width: 1000px;
    flex: 1;
    /* outline: 1px solid red; */
    padding: 0 6rem;
    display: flex;
    flex-direction: column;
}

.testimonial-quote .container p{
    font-size: 36px;
    font-style: italic;
    font-weight:300;
    color: #1F2937;
    text-align: left;
}
.testimonial-quote .container h2{
    align-self: flex-end;
    font-size: 24px;
    margin-top: 2rem;
    color: #1F2937;
    font-weight: bold;
}
